# This file contains common pin mappings for the BIGTREETECH Manta E3EZ
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" "8 MHz crystal"
# and "USB (on PA11/PA12)" or "CAN bus (on PB12/PB13)".

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: PA14
dir_pin: !PA10
enable_pin: !PA13
microsteps: 16 #divides each full step into this many microsteps
rotation_distance: 56.5487 #linear distance per revolution (pi * gear pitch) #18mm pitch
endstop_pin: ^PC4
position_endstop: 0
position_max: 235
homing_speed: 50
gcode_axis: X

[stepper_y]
step_pin: PC8
dir_pin: !PA15
enable_pin: !PC14
microsteps: 16
rotation_distance: 56.5487 #(pi * gear pitch) #18mm pitch
endstop_pin: ^PB0
position_endstop: 0
position_max: 235
homing_speed: 50
gcode_axis: Y

[stepper_z]
step_pin: PD2
dir_pin: PD4
enable_pin: !PD3
microsteps: 16
rotation_distance: 2 #(screw pitch * number of threads) #2mm pitch, 1 thread start
endstop_pin: ^PC6
position_endstop: 0
position_max: 200
homing_speed: 50
gcode_axis: Z

[stepper_z2]
step_pin: PD5
dir_pin: PD6
enable_pin: !PB3
microsteps: 16
rotation_distance: 2 #(screw pitch * number of threads)
endstop_pin: ^gpio14
position_endstop: 0
position_max: 200
homing_speed: 50
gcode_axis: Z

[stepper_u]
step_pin: PB7
dir_pin: PB6
enable_pin: !PB4
microsteps: 16
rotation_distance: 10 #(screw pitch * number of threads) #10mm pitch, 1 thread start
endstop_pin: ^gpio4
position_endstop: 0
position_max: 140
homing_speed: 50
gcode_axis: U

[fan]
pin: PA8 #fan0

#[cooling_fan fan1]
#pin: PB15

#[cooling_fan fan2]
#pin: PB14

[mcu]
serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: PB8
#diag_pin: PC4
run_current: 0.800 # Check current rating of your motor
stealthchop_threshold: 999999 # stealthchop check

[tmc2209 stepper_y]
uart_pin: PC9
#diag_pin: PB0
run_current: 0.800
stealthchop_threshold: 999999

[tmc2209 stepper_z]
uart_pin: PD0
#diag_pin: PC6
run_current: 0.650
stealthchop_threshold: 999999

[tmc2209 stepper_z2]
uart_pin: PD1
#diag_pin: gpio14
run_current: 0.800
stealthchop_threshold: 999999

[tmc2209 stepper_u]
uart_pin: PB5
#diag_pin: gpio4
run_current: 0.800
stealthchop_threshold: 999999

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC1, EXP1_3=PC3, EXP1_5=PC0, EXP1_7=PA2, EXP1_9=<GND>,
    EXP1_2=PC2,  EXP1_4=<RST>, EXP1_6=PA0, EXP1_8=PA1, EXP1_10=<5V>


#[output_pin PS_ON]
#pin: PA9

#[output_pin pb9_pin]
#pin: PB9

#[neopixel my_neopixel]
#pin: PC7

#[adxl345]
#cs_pin: PC15
#spi_software_miso_pin: PC11
#spi_software_mosi_pin: PC12
#spi_software_sclk_pin: PC10

[gcode_macro home_transverse]
description: Homes the transverse pusher
gcode:

[gcode_macro push_transverse]
description: Moves the transverse pusher to the push position
gcode:

[gcode_macro home_elevator]
description: Homes the elevators
gcode:

[gcode_macro receive_elevator]
description: Moves the elevators to the zero dish receiving position
gcode:

[gcode_macro position_elevator]
description: Moves the elevators to the specified row position
gcode:
    # input number of rows on elevator and pass through variable to postion_elevator macro
    # example: {action_1} = 5 for row 5
    #G1 U{action_1*10} F100

[gcode_macro interlock_elevator]
description: Moves the elevators to the interlock loading position
gcode:

[gcode_macro home_interlock]
description: Homes the interlock plate pusher
gcode:

[gcode_macro push_interlock]
description: Moves the interlock plate pusher to the push position
gcode:

[gcode_macro home_staging]
description: Homes the staging pusher
gcode:

[gcode_macro push_staging]
description: Moves the staging pusher to the push position
gcode:

[gcode_macro push_transverse]
description: Moves the transverse pusher to the push position
gcode:

[gcode_macro home_all]
description: Homes all axes
gcode:
    G28 X Y Z U

[gcode_macro recover_all]
description: Recovers from an emergency stop by homing all axes then prompting user
gcode:
    G28 X Y Z U
    M117 Recovery complete. Please verify number of rows on elevator and resume.
    # input number of rows on elevator and pass through variable to postion_elevator macro

[gcode_macro Estop]
description: Emergency stop the device
gcode:

[gcode_macro initialize]
description: Initializes the device
gcode:

[gcode_macro shutdown]
description: Shutdown the device safely
gcode:

[gcode_macro start]
description: Starts the device operation
gcode: